.main {
  width: 20%;
  border: solid 1px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Icon {
  display: flex;
  align-items: baseline;
}
